<!DOCTYPE html>
<html>
<head>
    <title>Flask App with Real-time Output</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Flask App with Real-time Output</h1>
    <button id="run-btn">Run Command</button>
    <pre id="output"></pre>

    <script type="text/javascript">
        var socket = io();

        $('#run-btn').click(function() {
            var command = 'your_command_here';
            socket.emit('run_command', command);
        });

        socket.on('output', function(data) {
            $('#output').append(data.data + '\n');
        });
    </script>
</body>
</html>